<span class="headline">
    Über dieses Geschäft
</span>

<google-map height="250px" width="100%" [center]=center #map>
    <map-marker [position]="marker.position">

    </map-marker>
    <span class="adress-window">
        <b>Adresse</b><br>
        Schüsselbruch 5<br>
        32339 Espelkamp
    </span>
</google-map>

<span class="sub-headline">
    <mat-icon>schedule</mat-icon>
    Öffnungszeiten
</span>
<div class="opening-info">
    <span>
        <span>Montag</span>
        <span>Dienstag</span>
        <span>Mittwoch</span>
        <span>Donnerstag</span>
        <span>Freitag</span>
        <span>Samstag</span>
        <span>Sonntag</span>
    </span>
    <span>
        <span>12:00 - 23:00</span>
        <span>12:00 - 23:00</span>
        <span>12:00 - 23:00</span>
        <span>12:00 - 23:00</span>
        <span>12:00 - 00:00</span>
        <span>12:00 - 00:00</span>
        <span>12:00 - 22:00</span>
    </span>
</div>