<img draggable="false" class="atf-image" src="../../assets/burgerBackground.jpeg">
<div class="shop-header">
    <span class="shop-headline">
        <h1>Braun's Burger Bude</h1>
        <mat-icon (click)="openInfoDialog()">info</mat-icon>
    </span>
    <div class="shop-rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        178 Bewertungen
    </div>
    <div class="buy-info">
        <span>
            <mat-icon>pedal_bike</mat-icon>
            1,99€
        </span>
    </div>
</div>

<div class="product-container">
    <h1>Hausgemachte Burger</h1>

    <div class="product" (click)="openExpandOrderDialog(meal)" *ngFor="let meal of shoppingBasketService.allMeals; let i = index">
        <div class="product-header">
            <b>{{meal.mealName}}</b>
            <button mat-mini-fab color="primary">
                <mat-icon *ngIf="shoppingBasketService.mealAmounts[i] < 1">add</mat-icon>
                <span *ngIf="shoppingBasketService.mealAmounts[i] >= 1" style="font-size: 18px;">{{shoppingBasketService.mealAmounts[i]}}</span>
            </button>
        </div>
        <span>{{meal.description}}</span>
        <b style="margin-top: 12px;">{{meal.price.toFixed(2).replace(".",",")}}€</b>
    </div>
</div>

<div *ngIf="shoppingBasketService.sumOfProducts != 0 " class="responsive-btn-container">
    <div *ngIf="shoppingBasketService.userAtShop && shoppingBasketService.endSum" routerLink="order"
        (click)="shoppingBasketService.orderMeals()" class="responsive-pay-btn">
        Bezahlen ({{shoppingBasketService.endSum.toFixed(2)}}€)
    </div>
</div>