/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Breite und Farbe der Scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background-color: #303030; /* Hintergrundfarbe der Scrollbar */
}

/* Griff der Scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #303030; /* Farbe des Scrollbalken-Griffs */
    border-radius: 2px; /* Runde Ecken für den Scrollbalken-Griff */
}

/* Hover-Zustand des Scrollbalken-Griffs */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff5f92; /* Farbe des Scrollbalken-Griffs im Hover-Zustand */
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #303030 inset !important; /* Hintergrundfarbe ändern */
    -webkit-text-fill-color: white !important; /* Schriftfarbe ändern */
    caret-color: white !important; /* Cursorfarbe ändern */
}


